body {
    background-color: #214E34;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    color: #011638;
    font-size: large;
}

h3 {
    color: #011638;
    font-size: small;
}

p {
    color: #214E34;
    font-size: medium;
}

img {
    width: 200px;
    margin-top: 10px;
}

main {
    background-color: #DFF8EB;
    padding: 10px;
    width: 60%;
    border: #011638 8px solid;
    border-radius: 15px;
}

a {
    display: block;
    margin: auto;
    width: 100px;
    padding: 10px 0;
    text-decoration: none;
    color: #DFF8EB;
    background-color: #011638;
    border: #586378 solid 3px;
    border-radius: 10px;
}

a:hover {
    transition: 0.5s;
    border-color: black;
    color: #bdd6c9;
    background-color: #455a7c;
    cursor: pointer;
}

.titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#textoGabriel {
    font-size: smaller;
}