@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #797979;
}
#conteudo {
    border: #111 4px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
    background-color: #FAFAFA;
}

#input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
#informacoesClima {
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 5px;
    border: #003CBD 8px ridge;
    background-color: #FAAE00;
    color: #111;
}

i {
    margin-right: 5px;
}

button {
    padding: 10px;
    background-color: #003CBD;
    color: #FAAE00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.025);
    box-shadow: 5px 5px;
}

input {
    padding: 10px;
}

h3 {
    font-family: "Orbitron", sans-serif;
}